//**************************** Start Banner Content******************************
.banner-content {
    padding: 0;
    background-color: #0F3764;
    &.overlay-bg{
        .banner-inner-content{
            background-color: #0F3764;
            background-blend-mode: multiply;          
        }
    }


    &.home-banner {
        position: relative;
        
        .container{
            width: 1100px;
            max-width: 100%;
        }
    
        .banner-inner-content {
        // background-image: url('../../images/BG.jpg') !important;
            overflow: hidden;
            padding-bottom: 120px;
            padding-top: 60px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom center;
       
        @include bp(sm-max){
            padding-bottom: 50px;
            padding-top: 50px;
            min-height: auto;
        }
        .img-content{            
            text-align: right;
            position: relative;            
            img{
                  width: 333px !important;               
            }           
        }
        
        }
        .text-content {
            margin: auto;
            font-size: 54px;
            color: #fff;
            line-height: 1.3;
            font-weight: 500;
            position: relative;
            &::after{
                content: '';
                background-image: url('../../images/banner-arrow.svg');
                width: 379px;
                height: 245px;
                position: absolute;
                bottom: -28px;
                right: -225px;
                
                background-size: cover;
                background-repeat: no-repeat;
            }
            .inner-text{
                text-align: center;
                z-index: 1;
                    position: relative;
                ul{
                    list-style-type: none;
                    color: #fff;
                    padding-left: 0;
                    li{
                        // display: none;
                        // &.active{
                        //     display: block;
                        // }
                    }
                    h2{
                    margin-bottom: 50px;
                    font-size: 54px;
                    line-height: 1.2;
                    @include bp(lg-max){
                        font-size: 56px;
                    }
                    @include bp(md-max){
                        font-size: 34px;
                        margin-bottom: 32px;
                    }
                    @include bp(md-max){
                        font-size: 28px;
                        margin-bottom: 20px;
                    }
                }
                }
                .sub-text{
                    font-size: 20px;
                    line-height: 1.3;
                    @include bp(md-max){
                        font-size: 16px;
                    }
                }
            }
        }   
        .btn{
            padding: 20px 50px;
            border-radius: 34px;
            background-color: #80DBD1;
            color: #0F3764;
            font-weight: 500;
            margin-top: 50px;
        }    
    }
    &.eInvoicing-portal-banner,
    &.billing-tool-banner{
        .row{
            align-items: flex-end;
        }
        .text-content{
            h1{
                font-size: 54px;
            }
            h3 {
                font-size: 28px;
            }
            &::after{
                background-image: url('../../images/e-invoicing-portal-arrow.svg');                
                bottom: auto;
                top: -109px;
                right: -173px;
            }
        } 
        ul{
            li{
                font-weight: 300;
                font-size: 16px;
            }
        }
    }    
    &.billing-tool-banner{
        .banner-inner-content{
            .container{
                & > .row{
                    align-items: flex-end;
                }
            }
            .text-content{
                &::after{
                    background-image: url('../../images/billing-tools-arrow.svg'); 
                    height: 220px;
                    top: -38px;
                    right: -353px;
                }
            }
        }
    }
    &.mobile-application-banner{
        .banner-inner-content{
            .text-content{
                h1{
                    font-size: 54px !important;
                }
                h3{
                    font-size: 32px !important;
                }
                &::after{
                    display: none;
                }}
                .img-content{ 
                    img{
                        width: 445px!important;
                }
            }
        }
        .mobile-app-download-btn{
            display: flex;
            position: absolute;
            bottom: 120px;
            right: -431px;
            a{
                margin-right: 20px;
            }
            img{
                width: 180px;
            }
        }
    }
   
    .text-content {
        // position: relative;
        @include bp(md-max){
            text-align: center;
        }
        h1 {
            color: #fff;
            align-items: center;
        }
    }
    .btn-primary {
        background-color: #fff;
        border-color: #fff;
        color: #0c3761;
        &:hover {
            border-color: #fff;
            color: #fff;
        }
    }
    .overlay.blue {
        background-color: rgba(6, 30, 54, 0.747);
    }
    .down-arrow {
        position: absolute;
        right: 49%;
        bottom: -30px;
    }
    .arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        span {
            display: block;
            width: 30px;
            height: 30px;
            border-bottom: 4px solid #fff;
            border-right: 4px solid #fff;
            transform: rotate(45deg);
            margin: -10px;
            animation: animate 2s infinite;
            &:nth-child(2) {
                animation-delay: -0.2s;
            }
            &:nth-child(2) {
                animation-delay: -0.4s;
            }
        }
    }
    h1 {
        margin-bottom: 40px;
        font-size: 64px;
        @include bp(sm-max){
            margin-bottom: 20px;
        }
    }
    h3 {
        margin-bottom: 40px;
        font-weight: 100;
        font-size: 42px;
        line-height: 1.3;
    }
    @include bp(lg-max) {
        background-position: 0px -50px;
    }
}

.post-type-archive-webinars,
.half-banner {
    position: relative;
    overflow: hidden;
    // &::after{
    //     content: "";
    //     height: 142px;
    //     width: 193px;
    //     background-image: url(../../images/banner-dot.svg)!important;
    //     background-size: 100% 100%;
    //     position: absolute;
    //     z-index: 2;
    //     right: -75px;
    //     bottom: -28px;
    // }
    // &::before{
    //     content: "";
    //     height: 123px;
    //     width: 150px;
    //     background-image: url(../../images/banner-dots2.svg)!important;
    //     background-size: 100% 100%;
    //     position: absolute;
    //     z-index: 2;
    //     top: 82px;
    //     left: -25px;
    // }
    .banner-inner-content {
        height: 50vh;
        min-height: 300px;
        // border-bottom-left-radius:100px ;
        // @include bp(md-max){
        //     border-bottom-left-radius:30px ;
        // }
        @include bp(sm-max){
            height: auto;
            min-height: auto;
            padding: 60px 0;
        }
    }
    .text-content {
        padding-left: 0;
        text-align: center;
        h1{
            text-align: center;
        }
    }
}
.half-banner {
    .col-lg-7 {
        width: 100% !important;
        justify-content: center;
    }
    .align-items-center {
        justify-content: center;
    }
}

.post-type-archive-webinars,
.banner-content.inner-page-banner {
    .slide-content-main {
        justify-content: center;
    }
}
.post-type-archive-webinars {
    .banner-content {
        h1 {
            color: #fff;
            align-items: center;
        }
    }
}
.overlay-banner{
    .banner-inner-content{
        background-color: #218bb5;
        background-blend-mode: multiply;
        .banner-caption{
            text-align: center;
        }
    }
}
.breadcrumb {
    justify-content: center;
    font-size: 14px;
    @include bp(md-max){
        font-size: 14px;
    }
    i{
        margin: 0 10px;
        @include bp(md-max){
            font-size: 14px;
        }
    }
    a{
        color: #80DBFF;
        font-size: 14px;
        &:hover{
            color: #80dbff98;
        }
        & ~ i{
            color: #80DBFF;
        }
        @include bp(md-max){
            font-size: 14px;
        }
    }
}
// ********************** End Banner Content ***************************************